<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{wikispace.title}}</mat-card-title>
    <mat-card-subtitle>{{wikispace.access}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{wikispace.content}}
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['wiki', wikispace.id]" mat-icon-button>
      <mat-icon>
        open_in_new
      </mat-icon>
      </button>
    <button (click)="openDeleteDialog()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="openUpdateDialog()" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
